<p>Dragon Ball Z</p>
<hr>

<div class="row">
    <div class="col">
        <h3>Personajes</h3>
        <hr>   
        <ul>
            <li *ngFor="let personaje of personajes">
                {{personaje.nombre}} - {{personaje.poder| number}} 
            </li>
        </ul>
    </div>

    <div class="col">
        <h3>Agregar</h3>
        <hr>
        <form (ngSubmit)="agregar()">
            <input 
            type="text" 
            placeholder="Nombre" 
            name = "nombre"
            [(ngModel)]="nuevo.nombre"
            />
            <input
             type="number"
              placeholder="Poder"
              name="poder"
              [(ngModel)]="nuevo.poder"
               />
            <button type="submit">
                Agregar
            </button>
        </form>
    </div>
</div>
